* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #dfe5e8; */
}

header {
  height: 3.8rem;
  width: 100%;
  display: flex;
  background-color: #0f1a21;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 75rem;
  max-width: 89rem;
  background-color: #0f1a21;
  justify-content: space-around;
}

.header .logo-img {
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  width: 130px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 0.3rem;
}
.header .logo-img:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.header .logo-img p {
  margin-bottom: 0.5rem;
}
.location-part {
  text-decoration: none;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  height: 50px;
  width: 173px;
  margin-right: 1rem;
}
.location-part div i {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.location-part div,
p,
h4 {
  color: white;
  text-decoration: none;
}
.location-part .hello p span {
  color: rgb(212, 200, 200);
  font-size: 0.78rem;
}
.location-part .hello h4 {
  font-size: 0.91rem;
}
header .location-part:hover {
  border: 1px solid white;
  border-radius: 2px;
}

form {
  display: flex;
}
form .select-tag #All {
  height: 40px;
  border-radius: 4px 0 0 4px;
  width: 55px;
  border: none;
  border-right: 1px solid rgb(216, 200, 200);
}
form .select-tag #All {
  color: rgb(116, 112, 112);
  text-align: center;
}
form #nav-search-bar-form {
  height: 40px;
  
  width: 25rem;
  border: none;
  outline: none;
}
form .search-bar-icon {
  height: 40px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d69c59;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
form .search-bar-icon i {
  color: rgb(56, 46, 46);
  font-size: 1.7rem;
}
form:hover {
  border: 4px #e39e50;
}
#nav-search-bar-form::placeholder {
  /* color: red; */

  font-weight: 500;
}

.india {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 72px;
  height: 50px;
  padding: 0.8rem;
  margin-left: 0.6rem;
}
.india:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.india img {
  height: 15px;
  border-radius: 2px;
}
.india h4 {
  color: white;
  font-size: 0.9rem;
}

.sign-account {
  height: 50px;
  width: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-account p {
  font-size: 0.7rem;
}
.sign-account h4 {
  font-size: 0.87rem;
}
.sign-account:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.return-account:hover {
  border: 1px solid white;
  border-radius: 2px;
}
.return-account {
  height: 50px;
  width: 78px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.return-account p {
  font-size: 0.7rem;
}
.return-account h4 {
  font-size: 0.87rem;
}
.cart {
  height: 50px;
  width: 80px;

  display: flex;
}
.cart i {
  color: white;
  font-size: 2.5rem;
}
.cart h3 {
  color: white;
  margin-top: 1.5rem;
}
.cart:hover {
  border: 1px solid white;
  border-radius: 2px;
}

/*                                               main container */

.main-content {
  display: flex;

  justify-content: center;
  background-color: #dfe5e8;
}

.container {
  width: 1395px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  position: relative;

  width: 100%;
  background-color: #123042;
}
.bottom-header .prime-day-img img {
  height: 30px;
}
.bottom-header .a-tag {
  height: 30px;
  left: 0;
  width: 66rem;
  display: flex;
  align-items: center;
  background-color: #123042;
  margin-left: 1rem;
  
}

.bottom-header .a-tag a {
  text-decoration: none;
  font-size: 0.74rem;
  text-align: left;
  color: white;
  margin: 0.3rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;

  
}
.bottom-header .a-tag a:hover {
    border: 1px solid white;
    height: 30px;
    border-radius: 2px;
}
.bottom-header .a-tag i {
  color: white;
}
.bottom-header .prime-day-img img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prime-day-img :hover {
    height: 27px;
    border: 1px solid white;
    width: 307px;
}

.home-img img {
  width: 1395px;
}
/*                                           product container-1 */
.product-container {
  display: flex;
  width: 1380px;

  flex-wrap: wrap;
  margin: 2rem;
  position: absolute;
  top: 23rem;

  align-items: center;
  justify-content: center;
}
.product {
  width: 310px;
  height: 418px;
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.8rem;
  padding: 1rem;
}
.h2-tag h2 {
  font-size: 21px;
}
.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.item-container .item-1,
.item-2,
.item-3,
.item-4 {
  margin-bottom: 2rem;
}
.item-container .item-1 img {
  height: 92px;
  width: 125px;
}
.item-container .item-2 img {
  height: 92px;
  width: 125px;
}
.item-container .item-3 img {
  height: 85px;
  width: 125px;
}
.item-container .item-4 img {
  height: 92px;
  width: 125px;
}
.item-container .item-11 img {
  height: 270px;
  width: 266px;
}
.img-1 img {
  height: 250px;
}
.item-container .item-1 a {
  text-decoration: none;
  font-size: 12px;
}
.item-container .item-2 a {
  text-decoration: none;
  font-size: 12px;
}
.item-container .item-3 a {
  text-decoration: none;
  font-size: 12px;
}
.item-container .item-4 a {
  text-decoration: none;
  font-size: 12px;
}

.discount-off a {
  color: rgb(29, 110, 137);
  padding: 0.6rem;
  font-size: 13px;
  text-decoration: none;
}

.discount-off a:hover {
  text-decoration: underline;
  color: red;
}

/*                                       product container-2 */

.product-container-2 {
  height: 352px;
  width: 1318px;
  /* z-index: 1; */
  margin-top: 630px;
  /* margin-bottom: 100px; */
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}
.todays-deals {
  display: flex;
  align-items: center;
  /* padding-left: 2rem; */
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
}
.todays-deals h2 {
  font-size: 21px;
  margin-right: 1rem;
}
.todays-deals a {
  font-size: 14px;
  color: rgb(78, 78, 153);
  text-decoration: none;
}
.todays-deals a:hover {
    text-decoration: underline;
    color: red;
}
.product2 {
  display: flex;
  /* padding-left: 1.5rem; */
}

.product-container-2 .item-1 {
  height: 260px;
  width: 390px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem;
}
.product2-img {
  background-color: #ebf1f0;
  height: 200px;
  width: 232px;
  display: flex;
  justify-content: center;
}
.product2-img img {
  height: 180px;
}
.upper-deals {
  display: flex;
  height: 23px;
  width: 200px;
  align-items: center;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}
.button-red {
  font-size: 12px;
  margin-right: 1rem;

  display: flex;
  align-items: center;
}
.button-red span {
  background-color: #b90c0cf5;
  color: white;
  height: 23px;
  padding: 0.3rem;
  border-radius: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deals {
  font-size: 12px;
  color: red;
}

.second-p {
  margin-top: 0.4rem;
  width: 240px;
  margin-left: 0.5rem;
}
.second-p p {
  font-size: 13px;
  color: rgb(49, 34, 34);
}

/*                                    container-3 */
.product-container-3 {
  height: 260px;
  width: 1318px;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  align-items: center;
}

.second-img {
  margin: 1rem;
  margin-top: 12px;
}
.second-img img {
  margin: 0.2rem;
}

/*                                         footer up border */

footer {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #232f3e;
  min-width: 1000px;
  position: relative;
  height: 790px;
}

.footer-up-border {
  margin-top: 2rem;
  height: 125px;
  width: 100%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}
.dibber-footer-up {
  margin-left: 1rem;
}
.footer-up-div {
  margin-top: 1rem;
  font-size: 20px;
  color: #444444;
  font-weight: 400;
}
.footer-down-div {
  margin-top: 1.8rem;
  font-size: 13px;
  font-style: italic;
  color: #000000;
}
.footer-down-a-tag {
  height: 70px;
  width: 70px;
  margin-top: 1.4rem;
  margin-right: 3rem;
}
.footer-down-a-tag a {
  text-decoration: none;
  color: #007185;
  font-size: 10px;
}
.footer-down-a-tag a:hover {
    color: red;
}


/* footer back to top */

.navFooterBackToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: #37475a;
  text-decoration: none;
}
.navFooterBackToTop:hover {
    background-color: #4c5869;
}
.back-to-top span {
  font-size: 13px;
  color: #fff;
}
.footer-up {
  height: 287px;
  width: 100%;
  /* background-color: rgb(109, 97, 97); */
  display: flex;
  justify-content: center;
}
.footer-up-container {
  width: 973px;
  height: 255px;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.footer-item-1 .footer-head-text {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-bottom: 1rem;
}
.footer-item-1 ul li {
  list-style: none;
  margin: 0 0 10px;
}
.footer-item-1 ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #ddd;
}

.footer-item-1 ul li a:hover {
  
    text-decoration: underline;
  }
.nav-footer-line {
  border-top: 1px solid #3a4553;
  margin-top: 40px;
}

/*                             footer down */

.footer-down-1 {
  width: 100%;
  margin-top: 3rem;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.fl-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}
.fl-section-1 .english {
  font-size: 13px;
  height: 32px;
  width: 116px;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-section-2 {
  height: 100px;
  width: 900px;
  display: flex;
  align-items: center;
}
.fl-section-2 ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.fl-section-2 ul a {
  padding: 0.3rem;
  list-style: none;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
}

.fl-section-2 ul a:hover {
    text-decoration: underline;
}
.footer-down-2 {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #131A22;
  flex-direction: column;
  align-items: center;
}
.footer-down-2-up {
  width: 900px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.footer-item-2 {
  width: 140px;
  height: 120px;
}
.footer-item-2 a {
  color: #dddd;
  font-size: 12px;
}
.footer-item-2 a:hover {
    text-decoration: underline;
}
.footer-item-2 a span {
  color: #999999;
}
.last-text-1 {
  margin-bottom: 0.4rem;
  display: inline-block;
  text-decoration: none;
}
.last-text-2 {
  display: inline-block;
  text-decoration: none;
}
.last-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.last-footer ul {
  display: flex;
  list-style: none;
}

.last-footer ul li a {
  margin-left: 4px;
  padding: 0.7rem;
  color: #dddddd;
  font-size: 12px;
  text-decoration: none;
}
.last-footer ul li a:hover {
    text-decoration: underline;
}

.last-footer ul li a:hover{
    text-decoration: underline;
}
.last-footer span {
  color: #dddddd;
  font-size: 12px;
}
